FF_DATA_DIR = /path/to/fell_finder/data
FF_DEBUG_MODE = true
FF_MAX_CANDS = 16384
FF_MAX_ROUTES = 16
FF_PRUNING_THRESHOLD = 0.95
FF_PRUNING_STRATEGY = naive # naive / fuzzy
FF_DIJKSTRA_VALIDATION = true
FF_DISPLAY_THRESHOLD = 0.9
FF_DIST_TOLERANCE = 0.1
FF_DB_USER = postgres
FF_DB_PASS = postgres
FF_ING_PTN_SIZE = 25000
FF_APP_NO_ROUTES = 10
FF_BIN_SIZE = 64
FF_BIN_STRATEGY = centre # centre / last
FF_PARQUETIZER_LOC = /path/to/osm-parquetizer/target/osm-parquetizer-1.0.1-SNAPSHOT.jar
FF_FINISHING_OVERLAPS = 3
FF_MAX_JOB_SECONDS = 600
FF_UPDATE_FREQUENCY = 5